* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}
div {
    display: block;
}
.form-section {
    background-color: #007cdc;
    padding: 104px 0;
}
.form-container {
    display: block;
    padding: 0 15px;
    margin: 0 21x;
    width: 970px;
}
.web-form {
    margin: 0 230px;
    width: 51%;
}
.web-form h4 {
    margin: 11.50px 0;
    color: #fff;
    font-weight: 100;
    font-size: 24px;
    line-height: 1.1;
}
.email-address {
    display: block;
    font-size: 17px;
    line-height: 1.8;
    color: #bbb8b8;
    border-bottom: 1px solid #fff;
}
.form-bot-text {
    display: block;
    margin: 10px 0 15px;
    font-size: 12px;
    line-height: 1.8;
    color: #666;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 0%);
}
.subscribe-button {
    text-decoration: none;
    display: block;
    color: black;
    background-color: #ffac1f;
    text-transform: uppercase;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 30%);
    border-radius: 4px;
    text-align: center;
    font-weight: normal;
    font-size: 13px;
    width: 101px;
    padding: 13px;
    cursor: pointer;
}
.subscribe-button:hover {
    color: #fff;
}

.media-icon {
    text-decoration: none;
    cursor: pointer;
    margin: 0 26px;
}
.media-icon svg {
    fill: #fff;
    width: 25px;
    height: 25px;
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.advertise-section {
    display: flex;
}
.images-container, .twitter-container, .ad-container {
    flex-basis: 33.33%;
    flex-grow: 1;
}
.images-container {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 33.33%;
    height: 225.02px;
    align-items: center;
    gap: 0;
}
.link-image {
    width: 33.33%;
    height: 112.51px;
}
.link-image img {
    width: 100%;
    height: fit-content;
}
.twitter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1da1f2;
    color: #fff;
    height: 250.60px;
    justify-content: space-between;
    font-size: 18.72px;
}
.twitter-container svg {
    fill: #cde9fe;
    width: 48.4px;
    height: 52px;
}
.twitter-container a {
    text-decoration: none;
}
.twitter-text {
    padding: 31.2px 31.2px 0;
    margin-bottom: 18.72px;
    font-weight: 100;
    line-height: 1.5;
}
.ad-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(https://milaniz.com/sites/default/files/styles/560x400/public/2017-03/whwybmtn3_0-brooke-cagle-1000x625.jpg?itok=9xAiMr2F);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    align-items: center;
    text-align: center;
    background-position: bottom;
    position: relative;
}
.ad-container::before {
    position: absolute;
    content: '';
    display: block;
    background-color: black;
    opacity: 0.5;
    visibility: visible;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
}
.ad-container svg {
    width: 52px;
    height: 52px;
    fill: #e3e6e8;
    z-index: 2;
}
.ad-container h5 {
    font-size: 20px;
    padding: 0 32.5px;
    margin: 20px 0;
    color: #fff;
    z-index: 2;
}
.ad-container a {
    font-size: 13px;
    color: #2196F3;
    text-decoration: none;
    z-index: 2;
}
footer {
    padding: 26px 0;
    display: block;
}
.footer-container {
    margin: 0 21.33px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-copyright {
    display: flex;
    align-items: center;
    color: #666;
    font-size: 13px;
}
.footer-copyright img {
    width: 50px;
    vertical-align: middle;
    margin-right: 0.5em;
}
.footermenu ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.menu a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 13px;
    color: #2196F3;
    text-align: center;
}